<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
    <a href="/new_post">Them bai viet</a>
    <p></p>
    <div>
    {% for post in posts %}
        <div>
            <a href="/post_detail/{{ post.id }}">
                <span>{{ post.title }}</span>
            </a>
            <span> by {{ post.author }}</span>
        </div>
    {% endfor %}
    </div>
</body>
</html>