<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body id="background2">
    <h1>POST LIST</h1>
    <p></p>
    <div>
    {% for post in posts %}
        <div class="list">
            <a class="none" href="/post_detail/{{ post.id }}">
                <span>{{ post.title }}</span>
            </a>
            <span> by {{ post.author }}</span>
        </div>
    {% endfor %}
    </div>
    <a class="none to" href="/new_post">New post</a>
</body>
</html>